/*

Name: Ain Shams Universiy
Author: Essam Mohamed
Date: February, 24, 2022
Version: 1.0

*/


@charset "UTF-8";
body {
	margin: 0;
	padding: 0;
	color: #666666;
	font-family: "Helvetica Neue", Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1.4;
	background-color: #000;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	 
	padding-right: 15px; 
	
}
h5 {
	color: #444;
	text-align: left;
	font-size: 12px;
	line-height: 20px;
	margin-top: -9px;
}
a {
	outline: none;
}
a img { 
	border: none;
}
a:link {
	color: #000000;
	text-decoration: none;
	font-size: large;
	
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;	
}
.wrapper {
	background-color: #f9f9f9;
	width: 100%;
}
/* ~~ this fixed width container surrounds all other elements ~~ */
.container {
	width: 1200px;
	background: #f9f9f9;
	margin: 0 auto;
	padding-bottom: 100px;
}

.content {

	padding: 10px 0;
}

/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in your page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
h2 {
	font-size: 31px;
}
h4 {
	color: #222;
	margin-bottom: 7px;
	font-size: 18px;
}
#logo {
	grid-area: logo;
	position: absolute;
	width: 200px;
	height: 200px;
	font-size: xxx-large;
	position: absolute;
	top: -25px;
	left: 44px;
	color: rebeccapurple;
}
#header {
	height: 80px;
	border-bottom: 2px solid #210099;
	grid-template-columns: repeat(10, 1fr);
}
#columnLeft {
	float: left;
	width: 234px;
	margin-right: 0;
}
#columnRight {
	margin-left: 22px;
	margin-right: 21px;
}
.home #columnRight {
	margin-bottom: -20px;
}
#menu {
	list-style-type: none;
	padding-top: 23px;
	margin-left: 203px;
}
#menu li {
	float: left;
	height: 40px;
	padding-top: 4px;
	color: #666666;
	padding-left: 5px;
	margin-right: 35px;
	margin-left: 35px;
	font-size: large;
	text-decoration: none;
}
#menu li.divline {
	padding: 0;
	border-right: thin solid #210099;
	height: 8px;
	margin: 26px 0 0;
}
#main {
	margin-top: 50px;
	font-size: 15px;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}
#mainLeft {
	width: 280px;
	font-size: 16px;
	float: left;
	height: 550px;
	margin-left: -19px;
	border-right: #663399 solid 2px;
}
.home #mainLeft img {
	padding-top: 30px;
}
.contact .topPad {
	margin-top: 100px;
}
.contact #mainLeft img {
	margin-top: 5px;
}
.about #main {
	margin-top: 27px;
}
.about #mainLeft {
	width: 263px;
	font-size: 14px;
	float: left;	
	margin-top: 32px;

}
#mainLeft .text {
	margin-top: 10px;
	float: none;
	margin-bottom: 60px;
}
#mainRight {
	margin-left: 279px;
    margin-top: -30px;
	background: white
	no-repeat center center fixed;
	background-size: cover;
	color: black;
	
}

.about #mainRight {
	margin-left: 254px;
}
.HeadercolumnLeft {
	padding-top: 30px;
}
.about .columnLeft {
	float: left;
	padding-right: 50px;
	font-size: 13px;
	width: 320px;
	padding-top: 0;
	padding-bottom: 100px;
}
.about .columnRight {
	float: left;
	font-size: 13px;
	width: 320px;
	padding-top: 0;
	padding-bottom: 100px;
	margin-left: -4px;
}
.contact .columnLeft {
	float: left;
	padding-right: 19px;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	width: 177px;
	border-right: thin dotted gray;
	margin-right: 24px;
	height: 43px;
}
.contact .columnLeft2 {
	float: left;
	padding-right: 10px;
	font-size: 12px;
	font-weight: bold;
	color: #333;
	width: 161px;
	border-right: thin dotted gray;
	margin-right: 24px;
	height: 43px;
}
.contact .columnLeft3 {
	float: left;
	padding-right: 10px;
	font-size: 11px;
	font-weight: bold;
	color: #333;
	width: 240px;	
}
.contact .columnLeft img {
	float: left;
	padding-right: 16px;
}
.contact .columnLeft2 img {
	float: left;
	padding-right: 16px;
}
.contact .columnLeft3 img {
	float: left;
	padding-right: 16px;
}
.contact .columnLeft .txt {
	padding-top: 10px;
}
.contact .columnLeft2 .txt {
	padding-top: 10px;
}
.contact .columnLeft .txt2 {
	margin-top: -5px;
}
#main a {
	text-decoration: underline;
}
.work #main a {
	text-decoration: none;
}
.line {
	border-top: 1px solid #666;
}
.contact .line {
	padding-top: 30px;
	border-top-style: dotted;
	border-top-color: gray;
}
#contactFormBox {
	background-color: #f1f1f1;
	padding: 30px;
	margin-top: 30px;
	margin-left: -30px;
	margin-bottom: 60px;
	width: 450px;
}
input {width:250px;
	height: 12px;
	padding: 5px;
}
#error {
	color: #fb6467;
	font-size: 12px;
	display:none;
	font-weight: bold;
	float: left;
	text-align: left;
	width: 248px;
}
.needsfilled {
	color: #fff;
	background: #fb6467;
	font-weight: bold;
	font-style: italic;
}
label {
	background: black no-repeat;
	color: #ddd;
	font-size: 12px;
	padding: 5px 10px 4px;
	-moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius:5px;
	display: inline;
}
#message {
	margin-left: 0;
	padding: 5px;
	width: 438px;
}

.projectNav {
	padding: 20px 30px;
	border-bottom: 1px dotted #bababa;
}
.projectNav a {
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	padding: 1px 5px;
}
.projectNav a:hover {
	background-color: #000;
	color: #fff;
	font-weight: bold;
}
.projectNavFloat {
	float: left;
	padding-right: 80px;
}

iframe {
	border-style: none;
	padding-top: 30px;
}
iframe.web {
	height: 560px;
	padding-top: 40px;
	
}
#blogSidebar {
	color: #000;
	font-size: 17px;
	padding-top: 20px;
}
.blogSidebarNav {
	color: #000;
	font-size: 14px;
	padding-top: 10px;
}
#main .blogSidebarNav a {
	text-decoration: none;
}
#main .blogSidebarNav a:hover {
	text-decoration: underline;
}
.blogSidebarNav img {
	margin-bottom: -5px;
	padding-right: 8px;
}
.blogHead {
	font-size: 30px;
}
.blogTitle {
	font-size: 24px;
	font-weight: bold;
}
.blogContent {
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 70px;
	margin-bottom: 20px;
}
.blogContent img {
	margin-bottom: 20px;
}
#footer {
	color: #666666;
	font-size: 11px;
	height: 100px;
	background-repeat: no-repeat;
	margin-top: -92px;
}
#footer .container {
	background-color: #000;
	width: 956px;
	padding-left: 231px;
	height: 0px;
}
#footer .nav {
	float: left;
	padding-left: 50px;
}
#footerImg {
	height: 92px;
	background: url(../images/footer.gif) no-repeat center;
}
#footer #stripe {
	height: 20px;
	margin-bottom: 8px;
	background: black no-repeat;
}
#footer a {
	color: #3f3d3d;
	text-decoration: none;
}
#footer a:hover {
	color: #adada2;
	text-decoration: underline;
}
#stripeLeft {
	background: url(../images/stripeRoundLeft.gif) no-repeat left top;
	height: 6px;
	float: left;
	width: 5px;
}
#stripeRight {
	background: url(../images/stripeRoundRight.gif) no-repeat left top;
	height: 6px;
	border-color: #fa863d;
	float: right;
	width: 5px;
}
#copywrite {
	float: left;
	padding-right: 70px;
}
#contact {
	float: right;
	text-align: left;
}
.projectform #contactFormBox {
	background-color: #f1f1f1;
	padding: 30px;
	margin-top: 30px;
	margin-left: -30px;
	margin-bottom: 60px;
	width: 500px;
}
.projectform .msg label {
	color: gray;
	font-size: 12px;
	-moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius:5px;
	display: inline;
	padding: 4px 10px;
	background-color: transparent;
}
.projectform .msg p label .label {
	padding: 0 83px 0 5px;
	margin: -6px 0 -10px;
}
.projectform h1 {
	color: black;
	letter-spacing: -2px;
}
.projectform h3 {
	font-size: 24px;
	color: black;
	letter-spacing: -2px;
}
.projectform .topPad {
	padding-top: 10px;
}
.projectform .line {
	margin-top: 50px;
	margin-bottom: 50px;
	border-color: silver;
}
.projectform .submit {
	margin-right: 10px;
}
.admin .wrap {
	background-color: #000000;
	width: 100%
}

.admin table {
	border: none;
	border-collapse: collapse;
	width: 100%;
}

.admin .header {
	height: 200px;
	background-color: #000000;
	font-size: 22px;
	font-weight: bold;
	color: #ffffff;
	padding-left: 48px;
}

.admin .container {
	background-color: #202020;
	padding-bottom: 0px;
}

.admin .columnLeft  {
	float: left;
	font-size: 12px;
	width: 440px;
}

.admin .columnRight {
	float: left;
	font-size: 12px;
	width: 700px;
	padding-left: 50px;
}

.admin .field {
	background-color: #333333;
	border: none;
	color: #999999;
	width: 195px;
	height: 20px;
}

.admin .button {
	color: #ffffff;
	background-color: #737373;
	font-size: 8px;
	height: 20px;
	width: 60px;
	border: none;
}


.admin .projectForm {
	text-align: right;
	color: #ffffff;
	padding-right: 50px;
	padding-top: 0px;
}

.admin input {
	width: 1%;
}

.admin .checkbox{
	width: 12px;
}

.admin .sectionTitle {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	padding-top: 65px;
	padding-bottom: 30px;
}

.admin .columnTitle {
	font-size: 12px;
	font-weight: bold;
	color: #e6e5a9;
	height: 40px;
	border-bottom: 2px;
}

.admin .greyBackground {
	background-color: #2b2b2b;
}
div.fileinputs {
	position: relative;
}

div.fakefile {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 1;
}

input.file {
	position: relative;
	text-align: right;
	-moz-opacity:0 ;
	filter:alpha(opacity 0);
	opacity: 0;
	z-index: 2;
}
li .Youtube:hover {
	color: #000 !important;
}
#mainRight hr {
	width: 2px;
}
#mainRight p {
	opacity: 1 !important;
	color: #000;
}

/***** clearfix *****/
.clear {clear: both;height: 0;line-height: 0;}
.clearfix:after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}


/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
	font-size: 13px;
}

#panel {
	width: 100%;
	height: 137px;
	color: #999999;
	background: black;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panel h3{
	font-size: 21px;
	margin: 0;
	color: white;
	padding-right: 0;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	color: #c7c99d;
	text-decoration: none;
}

#panel a:hover {
	color: #e3e5c4;
	text-decoration: underline;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 1060px;
	margin: 0 auto;
	padding-top: 35px;
	text-align: left;
	font-size: 0.85em;
	padding-left: 300px;
}

.left {
	float: left;
	padding: 6px 0 0 11px;
}



#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	padding-top: 0;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content input:focus.field {
	background: #545454;
}
.formLabel {
	float: left;
	padding-right: 40px;
	margin-top: 8px;
	padding-left: 17px;
}
.paneltxt {
	font-size: 11px;
	text-align: left;
	margin-left: 298px;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 31px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 5px 0 10px;
}
#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}
.essam_footer {
	margin-top: 26px;
	font-size: 17px;
	color: #999999;
	cursor: context-menu;
}
div .tab {
	display: none !important;
}
.essam_footer:hover {
	color: red;
}
#pp {
	text-align: center;
	color: red !important;
	font-size: x-large !important;
	background-color: white !important;
	font-weight: bold !important;
}
#h5 {
	font-size: x-large !important;
	text-align: center !important;
	color: red !important;
}
#h6 {
	text-align: center;
	margin-top: 2px;
	color: rebeccapurple;
	font-size: large;
}
#js {
	display: block;
    width: 265px;
    height: 37px;
    background-color: #bc83ff;
    border-radius: 17px;
    font-weight: bold;
	font-size: large;
}
#bla {
	text-align: center;
    font-size: xx-large;
    font-weight: bold;
    color: rebeccapurple !important;
    position: relative;
    top: 179px;
}
#homepage {
	text-decoration: none !important;
}
#text_side {
    font-size: larger;
    font-weight: bold;
    color: red !important;
    display: inline;
}
#mylink {
	font-size: inherit;
	color: rebeccapurple;
	text-decoration: none !important;
}
#mylink:hover {
	color: red;
	cursor: pointer;
}
#aa {
	cursor: pointer;
}
